.top-box {
  width: 100%;
  padding: 50px;
  background: rgb(15, 118, 213);
  flex-wrap: wrap;
}
.centered {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.logo {
  width: 400px;
}
.search, .search-go {
  border: 0;
  font-family: 'Noto Sans';
  font-size: 14px;
}
.search {
  width: 300px;
  border-radius: 20px 0 0 20px;
  padding: 11px 10px 11px 15px;
}
.search-go {
  width: 100px;
  border-radius: 0 20px 20px 0;
  padding: 10px 0;
  background: #fff;
  border-left: 1px solid #eee;
  cursor: pointer;
}
.search-go:hover {
  background: #ddd;
}
